<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        {% if site.github.is_project_page %}
        <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
        {% endif %}

        {%- include primary_nav.html -%}

        {% if page.default_title_head == true %}
        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        {% else %}
        <h1>{{- page.title -}}</h1>
        {% endif %}

        <!-- Configured from the _config.yml file to allow downloading project as zip/tar. -->
        {% if site.show_downloads %}
        <section id="downloads">
            <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
            <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
        </section>
        {% endif %}
    </header>
</div>