---
layout: default
---

{% if page.last_modified_at %}
<p>Last modified at: {{page.last_modified_at | date: "%Y-%m-%d" }}</p>
{% else %}
<p>Creation date: {{page.date | date: "%Y-%m-%d" }}</p>
{% endif %}

{% assign creator_name = page.creator_name %}
{% assign creator_link = page.creator_link %}
{% if creator_name and creator_link == nil %}
<p>Created by: {{creator_name}}</p>
{%elsif creator_name and creator_link %}
<p>Created by: <a href="{{creator_link}}">{{page.creator_name}}</a></p>
{% endif %}

<hr>

{{- content -}}